# アップロードのサイズを拡張
php_value upload_max_filesize 128M
php_value post_max_size 130M

# Rewriteの有効化
RewriteEngine on

# 携帯の画像ファイルは自動縮小
RewriteCond %{HTTP_USER_AGENT} "DoCoMo" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "J-PHONE" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "KDDI" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "DDIPOKET" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Vodafone" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "SoftBank" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Nokia.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^MOT-.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "L-mode" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "UP.Browser" [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9A-Za-z/._-]+)\.(jpe?g|gif|png)$ _bin/qvga.php?image=$1.$2 [L]

# 携帯の場合はコンテンツ系のファイルを携帯の方に設定
RewriteCond %{HTTP_USER_AGENT} "DoCoMo" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "J-PHONE" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "KDDI" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "DDIPOKET" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Vodafone" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "SoftBank" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Nokia.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^MOT-.* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "L-mode" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "UP.Browser" [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9A-Za-z/._-]+)\.(css|js|swf|pdf|zip|gz|Z|doc|txt|xls)$ _contents/%{SERVER_NAME}/mobile/$1.$2 [L]

# iphoneのコンテンツファイルの場合
RewriteCond %{HTTP_USER_AGENT} "^Mozilla/5\.0 \((iPod|iPhone|iPad);" [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9A-Za-z/._-]+)\.(jpe?g|gif|png|css|js|swf|pdf|zip|gz|Z|doc|txt|xls)$ _contents/%{SERVER_NAME}/iphone/$1.$2 [L]

# Androidの画像ファイルの場合
RewriteCond %{HTTP_USER_AGENT} "^Mozilla/5.0 \(Linux; U; Android" [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9A-Za-z/._-]+)\.(jpe?g|gif|png|css|js|swf|pdf|zip|gz|Z|doc|txt|xls)$ _contents/%{SERVER_NAME}/android/$1.$2 [L]

# Androidのapkファイルの場合
RewriteCond %{HTTP_USER_AGENT} "^Mozilla/5.0 \(Linux; U; Android" [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9A-Za-z/._-]+)\.apk$ download.php [L]

# PCの画像ファイルの場合
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9A-Za-z/._-]+)\.(jpe?g|gif|png|css|js|swf|pdf|zip|gz|Z|doc|txt|xls)$ _contents/%{SERVER_NAME}/templates/$1.$2 [L]

# htmlの場合はindex.phpを呼び出す。
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URL} !^[0-9A-Za-z/._-]+\.(jpe?g|gif|png|css|js|swf|pdf|zip|gz|Z|doc|txt|xls)$
RewriteRule ^(.+)$ index.php [L]
