<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="loadmodule" content="Base.Administrator.Login" error="admin/index.html" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>メインメニュー - Sweetberry 管理画面</title>
<!--{include file="admin/common/site_header.phtml"}-->
</head>
<body>
<!--{include file="admin/common/header.phtml"}-->
<div id="menu">メインメニューです。</div>
<ul>
<li>システム管理
<ul>
<li><a href="system/site/">サイト管理</a></li>
<li><a href="system/administrator/">管理者管理</a></li>
</ul>
</li>
</ul>
<ul>
<li>ショップ受注管理
<ul>
<li><a href="shop/order/import.html">受注データインポート</a></li>
<li><a href="shop/order/export.html">受注データエクスポート</a></li>
</ul>
</li>
<li>ショップ受注分析
<ul>
<li><a href="shop/analyze/user_agent/index.html">ユーザー端末分析</a></li>
<li><a href="shop/analyze/user_pref/index.html">ユーザー都道府県分析</a></li>
<li><a href="shop/analyze/user_age/index.html">ユーザー年代分析</a></li>
<li><a href="shop/analyze/order_product/index.html">受注商品分析</a></li>
<li><a href="shop/analyze/order_brand/index.html">受注ブランド分析</a></li>
<li><a href="shop/analyze/order_repeat/index.html">リピート回数分析</a></li>
<li><a href="shop/analyze/order_price/index.html">購入平均単価分析</a></li>
<li><a href="shop/analyze/order_sales/index.html">期間購入ユーザー分析</a></li>
<li><a href="shop/analyze/order_time/index.html">購入時間帯分析</a></li>
<li><a href="shop/analyze/order_payment/index.html">受注決済方法分析</a></li>
<li><a href="shop/analyze/order_set/index.html">セット購入分析</a></li>
<li><a href="shop/analyze/sample_efficient/index.html">サンプル購入引揚率分析</a></li>
</ul>
</li>
</ul>
<!--{include file="admin/common/footer.phtml"}-->
</body>
</html>